{% macro menu(root, attrs) %}

	{% set item = root %}
	{% set parent = null %}
	{% if attrs['root-class'] is defined and attrs['root-class'] is not empty %}
		{% set sclass = attrs['root-class'] %} 
	{% endif %}
	
	{{ block('item_menu_children') }}
{% endmacro %}

{% macro menuItem(item, attrs, parent) %}
	{% import 'TupiAdminBundle:Form:macros.html.twig' as admin %}
	
	{% set params = {'path' : (parent is null ? '' : parent ~ '/') ~ item.url} %}
	{% if item.redirect == false and item.templateName is null %}
		{% set params = {'_anchor' : false} %}
	{% endif %}
	
	{% set parent = item.url %}
	
	<li class="{% if attrs['item-class'] is defined and attrs['item-class'] is not empty %}{{ attrs['item-class'] }}{% endif %}{% if item.url == attrs['inSession'] %} {{ attrs['active'] }}{% endif %}">
		{{ admin.link('front_menu', item.title, null,  params) }}
		{{ block('item_menu_children') }}
	</li>
{% endmacro %}

{% block item_menu_children %}

    {% if item.activeChildren is defined and item.activeChildren is not empty %}
    <ul {% if sclass is defined and sclass is not empty %} class="{{ sclass }}" {% endif %}>
    {% for submenu in item.activeChildren %}
        {{ _self.menuItem(submenu, attrs, parent) }}
    {% endfor %}
	</ul>
	{% endif %}
{% endblock item_menu_children %}

{% macro getMap(endereco, altura) %}
    <iframe width="100%" height="{{ altura }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
     src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q={{ endereco }}&aq=t&ie=UTF8&hq=&hnear={{ endereco }}&t=m&z=14&output=embed">
    </iframe> 
{% endmacro %}