{% block content_ga %}
	{% if settings['ga'] is defined and settings['ga'] is not empty %}
	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
		<!-- ## UA vem da configuração da área administrativa ## -->
		ga('create', '{{ settings['ga'] }}', 'auto');ga('require', 'displayfeatures');ga('send', 'pageview');
	</script>
	{% endif %}
{% endblock %}

{% block metatag_fb %}
	<meta property="og:title" content="{{ settings['og_title'] }}"/>
	<meta property="og:image" content="{{ settings['og_image'] }}"/>
	<meta property="og:site_name" content="{{ settings['og_site_name'] }}"/>
	<meta property="og:link" content="{{ settings['og_link'] }}"/>
	<meta property="og:description" content="{{ settings['og_description'] }}"/>
{% endblock %}

{% block content_fb %}
	{% if settings['og_id'] is defined and settings['og_id'] is not empty %}
	<script>
		(function() {
			var _fbq = window._fbq || (window._fbq = []);
			if (!_fbq.loaded)
			{
				var fbds = document.createElement('script');
				fbds.async = true;
				fbds.src = '//connect.facebook.net/en_US/fbds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(fbds, s);
				_fbq.loaded = true;
			}
			
			_fbq.push(['addPixelId', '{{ settings['og_id'] }}']);
		})();
		window._fbq = window._fbq || [];
		window._fbq.push(['track', 'PixelInitialized', {}]);
	</script>
	<noscript>
		<!-- ## Adicionar id do fb depois do parametro 'id=' e antes do '&' ## -->
		<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id={{ settings['og_id'] }}&ev=PixelInitialized" />
	</noscript>
	{% endif %}
{% endblock %}