/*FORMULARIO SKINS ============================*/

.skin {
  background-image: url("../media/img/form-fields.png");
  background-repeat: no-repeat;
}

/*select*/

.styleCombobox {
  background-position: right -1px;
  width: 100%;
  height: 35px;
  border-radius:3px;
  background-color: #fff;
  border: 1px solid #dbdbdb;

}
.styleCombobox select {
  width: 100%;
  height: 35px;
  margin-bottom: 0;
  border-radius:3px;
  float: left;
}
.styleCombobox span.skin {
  display: block;
  background: none;
  line-height: 32px;
  position: absolute;
  font-size: 14px;
  text-indent: 10px;
  border-radius:6px;  
  -webkit-border-radius:6px;  
  -moz-border-radius:6px; 
}
.style_radio {
  background: url('../media/img/form-fields.png') no-repeat -1px -54px;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.style_checkbox {
  background: url('../media/img/form-fields.png') no-repeat -1px -35px;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.input_checkboxChecked {
  background-position: -20px -35px;
}
.input_radioChecked {
  background-position: -20px -54px;
}
/*input file*/

.styleFile {
  position: relative;
  background-position: right -720px;
  float: left;
  cursor: pointer;
}
.styleFile span.skin {
  position: absolute;
  display: block;
  background-position: -482px -247px;
  padding-left: 8px;
  line-height: 44px;
  text-align: left;
}
.styleFileDisabled {
  background-position: right -720px;
}
.styleFileDisabled span.skin {
  background-position: -477px -87px;
}
.styleFile,
.styleFile span.skin {
  width: 100%;
  height: 44px;
}
.styleFile input {
  width: auto;
  margin: 0px;
}