input, select, textarea {
	display: inline-block;
	width: 100%;
	height: 35px;
	font-size: 17px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	padding: 0px 5px;
	-webkit-border-radius: 5px;
	font-family: 'source_sans_prolight', Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

textarea {
	height: auto;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	height: auto;
}

input:focus, select:focus, textarea:focus {
	border-color: #39b54a;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(57, 181, 74, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(57, 181, 74, .6);
}

input::-moz-placeholder {
	color: #777;
	opacity: 1;
}

input:-ms-input-placeholder {
	color: #777;
}

input::-webkit-input-placeholder {
	color: #777;
}

input[disabled], input[readonly] {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

input[type="file"] {
	display: none;
}

abbr[title], abbr[data-original-title] {
	border: none;
}

label {
	font-weight: normal;
	margin-bottom: 0;
}

#uploadhelper_fileLabel {
	margin-left: 10px;
}

form ul li {
	width: 100%;
	margin-bottom: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

form ul.controle li {
	width: auto;
	margin-bottom: auto;
}

table {
	width: 100%;
}

table thead {
	background: #333;
	height: 44px;
	line-height: 44px;
	color: #fff;
	text-indent: 10px;
	font-size: 1.1em;
}

table thead th {
	font-size: 15px;
	font-weight: normal;
}

table tbody tr {
	height: 44px;
	border-bottom: solid 1px #e2e2e2;
	line-height: 44px;
}

table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

table tbody tr:hover {
	background-color: #e2e2e2;
}

table thead tr th.item0 {
	width: 35px;
}

table thead tr th.item1 {
	width: 80px;
}

table thead tr th.item2, table thead tr th.status1 {
	width: 100px;
}

table thead tr th.item3, table thead tr th.status2 {
	width: 130px;
}

table tbody tr td {
	text-indent: 10px;
}

table tbody tr td a {
	font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
	display: block;
	width: 100%;
	text-decoration: none;
}

table tbody tr td a:hover {
	color: #b53f39;
	text-decoration: none;
}

table tbody tr td span.raiz {
	font-size: 0.8em;
	color: #b53f39;
	text-decoration: none;
	font-weight: normal;
}

table tbody tr td img {
	margin: 10px;
	vertical-align: middle;
	height: 60px;
<<<<<<< .mine
}

.erro {
	border: solid 1px #b53f39;
    color: #b53f39;
    background: rgba(181,63,57,.2);
    text-align: center;
=======
}

.error {
	color: #B53F39;
	border: solid 1px #B53F39;
	font-size: 1.2em;
	text-align: center;
	margin: 20px auto;
	padding: 10px 20px;
	float: none !important;
>>>>>>> .r2641
}