{% extends 'TupiAdminBundle:Template:admin-lista.html.twig' %}

{% set title = 'Usuários' %}
{% set actions = {'tupi_user_new': {'label': 'Adicionar', 'attrs': {'class': 'adicionar'} } } %}

{% block table_head %}
	<th class="titulo">Nome</th>
	<th class="item3">Login</th>
	<th class="status1">Status</th>
{% endblock %}
{% block table_body %}
	<td><a href="{{ path('tupi_user_edit',{'id':item.id}) }}">{{item.name}}</a></td>
	<td><a href="{{ path('tupi_user_edit',{'id':item.id}) }}">{{item.login}}</a></td>
	<td>{{item.status}}</td>
{% endblock %}		
