@font-face {
    font-family: 'source_sans_proregular';
    src: url('fontes/sourcesanspro-regular-webfont.eot');
    src: url('fontes/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fontes/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fontes/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'source_sans_probold';
    src: url('fontes/sourcesanspro-bold-webfont.eot');
    src: url('fontes/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fontes/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fontes/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'source_sans_prolight';
    src: url('fontes/sourcesanspro-light-webfont.eot');
    src: url('fontes/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/sourcesanspro-light-webfont.woff') format('woff'),
         url('fontes/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('fontes/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}