.resposta_form
{
	font-family:'source_sans_proregular', Arial, Helvetica, sans-serif; 
	font-size: 1.2em;

	text-align: center;
	margin: 20px auto;
	padding: 10px 20px;
	max-width: 400px;
}

.resposta_form.erro { color: #B53F39; border: solid 1px #B53F39; }
.resposta_form.sucesso { color: #39B54A; border: solid 1px #39B54A; }

form div {

	float:left;
}
form label
{
	color:#333;
	/*margin-bottom:5px;
	display:block;*/
}
form label abbr.required
{
	cursor:help;
	border-bottom:dotted 1px #333;
}

form input[type=text],
form input[type=password],
form input[type=email],
form input[type=url],
form input[type=number],
form select
{
	width:100%;
	height:35px;
	line-height:35px;
	padding:0px 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	display:inline-block;
	background:#fff;
	border:solid 1px #ccc;

	font-family:'source_sans_prolight', Arial, Helvetica, sans-serif; 
	font-size:1.2em;
	color:#333;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
}
form select{
	/*padding: 10px 0;
	line-height:normal;*/
}
form input[readonly]{
	opacity: .6;
}

form textarea
{
	width:100%;
	max-width:100%;
	min-height:140px;
	line-height:20px;
	padding:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	display:inline-block;
	background:#fff;
	border:solid 1px #ccc;
	
	font-family:'source_sans_prolight', Arial, Helvetica, sans-serif; 
	font-size:1.2em;
	color:#333;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
}
.fileinput
{
	width:100%;
}
.fileinput span
{
	display:block;
	width:90px;
	height:35px;
	background:url(../media/img/bt_upload.png) no-repeat;
	overflow:hidden;
	cursor:pointer;
}
.fileinput span:hover
{
	background:url(../media/img/bt_upload.png) no-repeat 0 -50px;
}
.fileinput input[type=file]
{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	height:35px;
	cursor:pointer;
}

form input:focus,
form textarea:focus
{
	outline:none;
	border:solid 1px #39b54a !important;
}
form input[type="radio"]:focus
{
	border:solid 0px #39b54a !important;
}

form ul
{
	float:left;
}
form ul li
{
	width:100%;
	margin-bottom:10px;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	overflow:hidden;
}

form ul.grouped li{
	margin-bottom: 0;
}
form  ul.grouped li input{
	border-top: 0;
}
form  ul.grouped li:first-child input{
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-top: solid 1px #ccc;
}

form  ul.grouped li:last-child input{
	border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}

.disabled
{
	color:#D6C2B2
}



#formPerguntas textarea
{
	max-width:100%;
	height:208px;
	min-height:208px;
	max-height:208x;
	
	margin-bottom:15px;
	line-height:20px;
	padding:10px;
}

#formPerguntas button
{
	width:120px;
	display:block;
	height:50px;
	background:#8b1619 url(../media/img/seta_botao.png) no-repeat 100% 50%;
	float:right;
	padding:0 70px 0 20px;
	color:#fff;
}
#formPerguntas button:hover
{
	background-color:#650a0d;
	color:#fff;
}
form span.obrigatorio
{
	text-align:right;
	margin-right:30px;
	line-height:44px;
	font-size:14px;
	float:right;
}


table
{
	width:100%;
	border-collapse:collapse;
}
table thead
{
	background:#333;
	height:44px;
	line-height:44px;
	color:#fff;
	text-indent:10px;
	font-size:1.1em;
}
table thead tr th
{
	/* border-right:solid 1px #fff; */
}

table thead tr th.check { width:35px; }
table thead tr th.titulo { min-width:170px;  }

table thead tr th.status { width:100px; }

table tbody tr td span.raiz { font-size:0.8em; color:#b53f39; text-decoration:none; font-weight:normal; }
table tbody tr td .sub:before { content:'- '; margin-left:10px; }
table tbody tr td .subsub:before { content:'- '; margin-left:20px; }
table tbody tr td a { text-decoration:none; }
table tbody tr td a:hover { color:#b53f39; }

table tbody tr { height:44px; border-bottom:solid 1px #e2e2e2; line-height:44px; }
table tbody tr:nth-child(even) { background-color:#f9f9f9; }
table tbody tr:hover { background-color:#e2e2e2; }
table tbody tr td { text-indent:10px; }
table tbody tr td a {font-family:'source_sans_proregular', Arial, Helvetica, sans-serif;  display:block; width:100%; }

table tfoot tr { background:#e2e2e2; height:36px; border-top:solid 2px #b4b0b0; line-height:36px; }
table tfoot tr td { text-indent:10px; }

